<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-edit fa-fw "></i>
      产品管理
			<span>> 
                添加产品
			</span>
    </h1>
  </div>

</div>

<!-- widget grid -->
<section id="grid" class="">
  <!-- START ROW -->
  <div class="row">

    <input type="hidden" id="_csrf" name="_csrf" value="<%= csrftoken %>" />
    <!-- NEW COL START -->
    <article class="col-sm-6 col-md-12 col-lg-12">

      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget" id="wid-id-1"
           data-widget-colorbutton="false"
           data-widget-editbutton="false"
           data-widget-custombutton="false"
           data-widget-togglebutton="false"
           data-widget-deletebutton="false"
           data-widget-fullscreenbutton="false"
           data-widget-sortable="false">

        <header>
          <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
          <h2>产品表单</h2>
        </header>

        <!-- widget div-->
        <div>

          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

          </div>
          <!-- end widget edit box -->

          <!-- widget content -->
          <div class="widget-body no-padding">

            <form action="" class="smart-form" onsubmit="return false;">
              <input id="crsftoken" value="" type="hidden">
              <fieldset>

                <section>
                  <div class="row">
                    <div class="col col-4">
                      <label class="label">产品名称：</label>
                      <label class="input">
                        <input type="text" class="input-xs" id="productName">
                      </label>
                      <label class="label">产品编号：</label>
                      <label class="input">
                        <input type="text" class="input-xs" id="productSN">
                      </label>

                      <label class="label">库房列表：</label>
                      <label class="select">
                        <select name="country" class="input-sm" id="room_list">
                          <option value="0" selected="" disabled="">Country</option>
                          <option value="244">Aaland Islands</option>
                          <option value="1">Afghanistan</option>
                          <option value="2">Albania</option>
                        </select>
                      </label>

                    </div>
                    <div class="col col-4">
                      <label class="label">产品分类：</label>
                      <label class="select">
                        <select name="country" class="input-sm" id="category_list">
                          <option value="0" selected="" disabled="">Country</option>
                          <option value="244">Aaland Islands</option>
                          <option value="1">Afghanistan</option>
                          <option value="2">Albania</option>
                        </select>
                      </label>
                      <label class="label">产品单位：</label>
                      <label class="select">
                        <select name="country" class="input-sm" id="unit_list">
                          <option value="0" selected="" disabled="">Country</option>
                          <option value="244">Aaland Islands</option>
                          <option value="1">Afghanistan</option>
                          <option value="2">Albania</option>
                        </select>
                      </label>

                      <label class="label">供应商列表：</label>
                      <label class="select">
                        <select name="country" class="input-sm" id="supplier_list">
                          <option value="0" selected="" disabled="">Country</option>
                          <option value="244">Aaland Islands</option>
                          <option value="1">Afghanistan</option>
                          <option value="2">Albania</option>
                        </select>
                      </label>

                    </div>
                    <div class="col col-4">
                      <label class="label">产品条码：</label>
                      <label class="input">
                        <input type="text" class="input-xs" id="productCode">
                      </label>
                      <label class="label">产品单价：</label>
                      <label class="input">
                        <input type="text" class="input-xs" id="productPrice">
                      </label>
                    </div>
                  </div>


                </section>

              </fieldset>



              <fieldset>
                <section>
                  <label class="label">产品描述：</label>
                  <label class="textarea">
                    <textarea rows="3" class="custom-scroll" id="productDescription"></textarea>
                  </label>
                  <div class="note">
                    <strong>提示:</strong>关于产品的简介
                  </div>
                </section>
              </fieldset>


              <fieldset>
                <div class="row">
                  <section class="col col-5">
                    <label class="label">盘点类型：</label>
                    <label class="toggle">
                      <input type="radio" name="radio-toggle" checked="checked">
                      <i data-swchon-text="ON" data-swchoff-text="OFF"></i>日盘</label>
                    <label class="toggle">
                      <input type="radio" name="radio-toggle">
                      <i data-swchon-text="ON" data-swchoff-text="OFF"></i>月盘</label>
                    <label class="toggle">
                      <input type="radio" name="radio-toggle">
                      <i data-swchon-text="ON" data-swchoff-text="OFF"></i>季盘</label>
                  </section>

                  <div class="col col-2"></div>

                  <section class="col col-5"></section>
                </div>
              </fieldset>

              <fieldset>




              </fieldset>

              <footer>
                <button type="submit" class="btn btn-primary" onclick="addAndNext();">
                  提交&录入下一个
                </button>

                <button type="submit" class="btn btn-primary" onclick="addAndBack();">
                  提交&返回
                </button>

                <button type="button" class="btn btn-default" onclick="window.history.back();">
                  返回
                </button>
              </footer>
            </form>

          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->

      </div>
      <!-- end widget -->

    </article>
    <!-- END COL -->
  </div>
  <!-- END ROW -->

</section>
<!-- end widget grid -->

<script type="text/template" id="tmpl_option">
  <option value="{{value}}">{{name}}</option>
</script>
<script type="text/javascript" src="/javascripts/product_add.js"></script>
<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  function initialize() {
    console.log("product_add");

    addview();
  }
  function event() {



    $("#btnProductAdd").click(function(){

      var productName = $("#productName").val();
      var productSN = $("#productSN").val();
      var productCategoryId = $("#category_list").val();
      var productUnitId = $("#unit_list").val();
      var productSupplierId = $("#supplier_list").val();
      var productRoomId = $("#room_list").val();
      var productCode = $("#productCode").val();
      var productPrice = $("#productPrice").val();
      var productDescription = $("#productDescription").val();

      var opt = {
        productName         : productName ,
        productSN           : productSN ,

        productCategoryId   : productCategoryId ,
        productSupplierId   : productSupplierId ,
        productRoomId       : productRoomId ,
        productUnitId       : productUnitId,

        productCode         : productCode,
        productPrice        : productPrice,
        productDescription  : productDescription
      };

      smart.dopost("/api/product/add.json",opt,function(err,result){

        var url = "ajax/product";
        var container = $('#content');
        loadURL(url, container);
      });
    });
  }
  // PAGE RELATED SCRIPTS
</script>
