<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-table fa-fw "></i>
                供应商管理
			<span>> 
				供应商列表
			</span>
        </h1>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrftoken %>" />

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
                 data-widget-colorbutton="false"
                 data-widget-editbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-custombutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                -->

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                    <h2>供应商列表</h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>联系方式</th>
                                <th>主营</th>
                                <th>创建者</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="supplier_list"></tbody>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>
  <!-- end row -->
  <div class="row">

    <div class="col-lg-10" id="pagination_area">

    </div>

    <div class="col-lg-2">
        <span>
            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#supplierAddModal"
                    onclick="addView()">
              追加
            </button>
        </span>
    </div>
  </div>

</section>
<!-- end widget grid -->


<!-- Modal -->
<div class="modal fade" id="supplierAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">追加单位</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">

                      <input type="hidden" id="supplierId"/>

                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="编号" required id="supplierNum"/>
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="名称" required id="supplierName"/>
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="电话" required id="supplierPhone"/>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="add()" ID="addBtn">
                    添加
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/template" id="tmpl_supplier_list">

  <tr>
    <td>{{index}}</td>
    <td>{{supplierNum}}</td>
    <td>{{supplierName}}</td>
    <td>{{supplierPhone}}</td>
    <td>{{userName}}</td>
    <td>{{createat}}</td>
    <td>{{editat}}</td>
    <td><a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="updateBtn('{{supplierId}}')">修改</a>
        <a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="deleteBtn('{{supplierId}}')">删除</a></td>
  </tr>

</script>

<script type="text/javascript" src="/javascripts/supplier_list.js"></script>

<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();
    // PAGE RELATED SCRIPTS

    var start = 0;
    var count = 10;
    var keyword = "";


    function initialize() {

      smart.paginationInitalized = false;
      $("#pagination_area").html("");
      render(start,count,keyword);
      event();
    }
</script>
